h1 {
  color: pink;
}

.filter-box {
  /*border: black solid 1px;*/
  width: 100%;
  padding: 16px;
}

button {
  /*padding: .2% .4%;*/
  /*margin: 6px 0px; */
  font-size: 1.2vw;
  border-radius: 5px;
  /*border: 2px solid red;*/
  background-color: red;
  color: white;
  transition-duration: .5s;
  width: 100%;
  font-family: arial;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

}

button:hover {
  background-color: red;
  box-shadow: 0 6px 12px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.nonMetals button {
  /*border: 2px solid blue;*/
  background-color: blue;
}

.nonMetals button:hover {
  background-color: blue;
  box-shadow: 0 6px 12px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}

.metals button {
  /*border: 2px solid green;*/
  background-color: green;
}

.metals button:hover {
  background-color: green;
  box-shadow: 0 6px 12px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}

.group-box {
  /*width: 100%;*/
  /*border: 1px solid black;*/
  display: flex;
  flex-direction: column;
}

.filters {
  /*flex-grow: 1;*/
  /*border: solid 1px blue;*/
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}
