h1 {
  color: pink;
}

.filter-box {
  /*border: black solid 1px;*/
  width: 100%;
  padding-top: 2vh;
  height: 100vh;
  background-color: #fff;
  /*padding: 16px;*/
}

button {
  font-size: 1.5vw;
  padding: 8px;
  border: none;
  background-color: transparent;
  transition-duration: .2s;
  width: 100%;
  font-family: arial;
  cursor: pointer;
  text-align: left;
  padding-left: 20px;
  /*box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);*/
}

button:hover {
  /*background-color: red;*/
  background-color: #bdbdbd;
  /*box-shadow: 0 6px 12px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);*/
}

button:focus {
  outline: none;
}

.group-box {
  /*width: 100%;*/
  /*border: 1px solid black;*/
  display: flex;
  flex-direction: column;
}

h3 {
  padding-left: 10px;
  font-size: 1.5vw;
  font-family: arial;
  padding-bottom: 8px;
  padding-top: 8px;
}

.filters {
  /*flex-grow: 1;*/
  /*border: solid 1px blue;*/
  /*padding-left: 16px;*/
  display: flex;
  flex-direction: column;
  width: 100%;
  /*text-align: center;*/
}

.mainGroup {
  font-weight: bold;
  padding-left: 10px;
}

.clearButton {
  padding-left: 0;
  text-align: center;
}