<h1>Periodic Table</h1>

<div class="periodic-table">
  <div [style.height.px]='elementHeight' class="row clearfix">
    <pt-element [elementData] = "getElement(1)" id="element_1" class="element">H</pt-element>
    <div class="element blank"></div>
    <div class="element blank"></div>
    <div class="element blank"></div>
    <div class="element blank"></div>
    <div class="element blank"></div>
    <div class="element blank"></div>
    <div class="element blank"></div>
    <div class="element blank"></div>
    <div class="element blank"></div>
    <div class="element blank"></div>
    <div class="element blank"></div>
    <div class="element blank"></div>
    <div class="element blank"></div>
    <div class="element blank"></div>
    <div class="element blank"></div>
    <div class="element blank"></div>
    <div class="element">He</div>
  </div>
</div>