
.periodic-table {
    width: 100%;
    min-width: 800px;
}

.row {
    width: 100%;
}

.element {
    width: 5.5555%;
    height: 100%;
    float: left;
    border: 1px solid black;
}

.blank {
    background-color: transparent;
    border: none;
}

.blanklong {
    width: 5.5555%;
    height: 100%;
    float: left;
    background-color: transparent;
    border: none;
}

.hover-view {
    width: 55.55%;
    height: 100%;
    float: left;
    background-color: transparent;
    border: none;
}

#flex-container {
    display: flex;
    height: 300%;
    background-color: gray;
    font-size: 50px;
}

.flex-item {
    display: inline-flex;
}